* {
  font-family: verdana;
  background-color: Black;
  text-align: center;
  font-weight: normal;
}

h1 {
  color: White;
  font-size: 50px;
}

p {
  font-size: 21px;
  color: Gray;
}

a {
  color: Aquamarine;
  font-size: 16px;
}

.copyright {
  text-align: right;
}
